.suit,
.rank {
  margin: 0;
}

.suit {
  font-size: 48px;
}

.rank {
  font-size: 64px;
}

.card,
.front {
  display: grid;
  height: 15em;
  width: 10em;
  border-radius: 16px;
  border: solid black 2px;
  div {
    place-self: center;
  }
}
.back {
  background-color: black;
}
.hidden {
  display: none;
}
